/* DAT GUI */



.dg.main .close-button {
    background-color: aliceblue;
}

.dg.main .close-button:hover {
    background-color: lightskyblue;
}

.dg {
    color:royalblue;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: aliceblue;
}

.dg.main::-webkit-scrollbar-thumb {
    background: aliceblue;
}

div.dg li:not(.folder) {
    background: aliceblue;
    border-color: cadetblue;
}

.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: aliceblue;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff!important;
}

.dg .c input[type=text] {
    background: #f9f9f9!important;
}

.dg .c input[type=text]:hover {
    background: #eee!important;
}

.dg .c input[type=text]:focus {
    background: #eee!important;
    color: #555!important;
}

.dg .c .slider {
    background: #e9e9e9!important;
}

.dg .c .slider:hover {
    background: #eee!important;
}


